<form [formGroup]="form" class="fx-layout-column">
  <mat-form-field>
    <mat-label>Given Name</mat-label>
    <input matInput type="text" formControlName="givenName" />
    <mat-error
      *ngIf="form.controls.givenName.invalid && form.controls.givenName.touched"
    >
      Given name is required.
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Surname</mat-label>
    <input matInput type="text" formControlName="surName" />
    <mat-error
      *ngIf="form.controls.surName.invalid && form.controls.surName.touched"
    >
      Surname is required.
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Age</mat-label>
    <input matInput type="number" formControlName="age" />
    <mat-error *ngIf="form.controls.age.invalid && form.controls.age.touched">
      Age is required and must be between 18 and 120.
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput type="email" formControlName="email" />
    <mat-error
      *ngIf="form.controls.email.invalid && form.controls.email.touched"
    >
      Please enter a valid email.
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Address</mat-label>
    <input matInput type="text" formControlName="address" />
    <mat-error
      *ngIf="form.controls.address.invalid && form.controls.address.touched"
    >
      Address is required.
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Photo URL</mat-label>
    <input matInput type="text" formControlName="photoURL" />
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="form.invalid"
    (click)="onSubmit()"
  >
    {{ title }}
  </button>
</form>
